
.pageblock#fullscreen .slider .slide .slidecontent h1 span span{
	color:#2ecc71;
}
.subline{
	border-bottom:1px dashed #2ecc71;
}
.team-mem span{ 
	border-top:1px dashed #2ecc71;
}
.team-social li.icon-team a {
	color: #2ecc71; 
}
#action span {
	border-top:1px dashed #2ecc71;
}
#sep h6{
	color: #2ecc71; 
}
#sep2 h6{
	color: #2ecc71; 
}
.facts-wrap-num{
	color:#2ecc71;
}
#sync2 .item{
	border:1px dashed #2ecc71;
}
.blog-post {
	border-top:3px solid #2ecc71;
} 
.blog-post a p{ 
	color:#2ecc71;
}
.con-info .con-icon {
	color:#2ecc71;
}
.sb-search-input::-webkit-input-placeholder {
	color: #2ecc71;
}

.sb-search-input:-moz-placeholder {
	color: #2ecc71;
}

.sb-search-input::-moz-placeholder {
	color: #2ecc71;
}

.sb-search-input:-ms-input-placeholder {
	color: #2ecc71;
}
.sb-icon-search {
	color: #2ecc71;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #2ecc71;
}
.paragraf-left {
	border-left:3px solid #2ecc71;
}
.portfolio-icon {
	color:#2ecc71;
}



















