
.pageblock#fullscreen .slider .slide .slidecontent h1 span span{
	color:#3498db;
}
.subline{
	border-bottom:1px dashed #3498db;
}
.team-mem span{ 
	border-top:1px dashed #3498db;
}
.team-social li.icon-team a {
	color: #3498db; 
}
#action span {
	border-top:1px dashed #3498db;
}
#sep h6{
	color: #3498db; 
}
#sep2 h6{
	color: #3498db; 
}
.facts-wrap-num{
	color:#3498db;
}
#sync2 .item{
	border:1px dashed #3498db;
}
.blog-post {
	border-top:3px solid #3498db;
} 
.blog-post a p{ 
	color:#3498db;
}
.con-info .con-icon {
	color:#3498db;
}
.sb-search-input::-webkit-input-placeholder {
	color: #3498db;
}

.sb-search-input:-moz-placeholder {
	color: #3498db;
}

.sb-search-input::-moz-placeholder {
	color: #3498db;
}

.sb-search-input:-ms-input-placeholder {
	color: #3498db;
}
.sb-icon-search {
	color: #3498db;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #3498db;
}
.paragraf-left {
	border-left:3px solid #3498db;
}
.portfolio-icon {
	color: #3498db;
}

















