/* ==========================================================================
   Block: Widget Banner
   Dependencies: no dependencies
   ========================================================================== */
.widget-banner__link {
  line-height: 0;
}
